#colOne
{
    background-color:black;
    text-align: left;
    color: white;
}
#colOne p{color: #2272FF;}
#colOne h1
{
    color: #2272FF;
    font-family: "Lucida Console", Monaco, monospace;
}
#colTwo{background-color:rgb(0, 153, 255);}
#colTwoo{background-color:rgb(0, 153, 255);}

#colThree{background-color:black;}
#colThree p{color: #2272FF;}

#navtext{
        color: #2272FF;
}

#flip a{
    color: blue;
}

#flip {
    padding: 10px;
    margin: 5px;
    width: 100%;
    text-align: center;
    background-color: black;
    margin-bottom: 0;
    border-radius: 0;
}
    
#panel{
    width: 100%;
    text-align: center;
    display: none;
    position: center;
    z-index: 100;
    color: #2272FF;
    
}

body {
    background-color: darkgray;
}

.register .login{
    background-color: rgb(149, 215, 241);
    position: center;
    text-align: center;
}

#h1-black{
    color: black;
    text-align: center;
    font-family: "Lucida Console", Monaco, monospace;
}

B{
    color: red;
}

input{
    padding: 5px;
    margin: 5px;

}
button{
    color: blue;
    padding: 5px;
    margin: 5px;
}
#submitColour{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.form-center{
    position: center;
    text-align: center;
    padding: 5px;
}
h1, h2, h3  
{
    color: aliceblue;
    position: left;
    font-family: "Lucida Console", Monaco, monospace;
}

.logo{
    height: 75%;
    max-width: 75%;
    padding-top: 25px;
}
.bluetxt{
    color: blue;

}



p	
{
        color: black;
        position: left;
        margin: 10px;
}
 ul 
 {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden; 
}
#panel a 
{
    color: #2272FF;
    display: block;
    padding: 8px;
    background-color: darkgray;
}
.register a{
    color: black;
    display: flexbox;
    padding: 0px;
    background-color: darkgray;
}
.well a {
    color: #2272FF;
    display: block;
    padding: 8px;
    background-color: darkgray;
}





.sidenav 
{
        background-color: #f1f1f1;
        height: 25%;
}


.row{
    padding: 0px;
    margin: 5px;
}






@media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }

      .row.content {height:auto;} 
    }








